 body{
    margin:0;
    font-family: Arial, sans-serif;
    background-color: #fdf6e3;
}

/* Div Part */
.logo h2{
    color:white;
    letter-spacing:1px;
}

/* Nav Bar */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#5c4033;
    padding:15px 30px;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

.navbar a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}

/* Links */
.nav-links{
    list-style:none;
    display:flex;
    gap:20px;
}

a:visited{
    color:#f5e6ca;
}

a:hover{
    color:rgb(206, 79, 153);
}

a:active{
    color : #3498db;
} 


.page-title{
    text-align:center;
    margin-top:40px;
    font-size:32px;
    letter-spacing:1px;
}


/* Search Part */
.search-section{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;
    margin:50px;
}

/* Search Input box */
.search-section input{
    width:420px;
    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
    outline:none;
    font-size:15px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
} 

/* Search button */
.search-btn{
    padding:12px 22px;
    background-color:#3498db;
    border:none;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

.search-section input:focus{
    border-color:#3498db;
}

.search-btn:hover{
    background-color:#2980b9;
}

  
 .form-row {
     display: flex;
     gap: 30px;
     margin-bottom: 20px;
 }
 
 .form-column {
     flex: 1;
     display: flex;
     flex-direction: column;
 }
 
 input {
     height: 40px;
     font-size: 18px;
     padding: 8px;
     border-radius: 10px;
 }
 
 select {
     height: 45px;
     font-size: 18px;
     padding: 8px;
     border-radius: 10px;
 }
 
 textarea {
     height: 120px;
     font-size: 15px;
     padding: 10px;
     border-radius: 10px;
 }
 
 label {
     font-size: 18px;
     margin-bottom: 5px;
     font-weight: bold;
 }
 /* Style the fieldset */
 
fieldset {
     width: 60%;
     max-width: 800px;
     margin: 40px auto;
     padding: 30px;
     border: 3px solid #6F4E37;
     border-radius: 12px;
     background-color: #f5efe6;
 }
 
 input[type="submit"],
 input[type="reset"],
 input[type="button"] {
     background-color: #6F4E37;
     color: white;
     border: none;
     padding: 12px 20px;
     font-size: 16px;
     border-radius: 8px;
     cursor: pointer;
     transition: 0.3s;
 }
 /* Hover effect */
 
 input[type="submit"]:hover,
 input[type="reset"]:hover {
     background-color: #8B5E3C;
     /* lighter brown on hover */
 }
 
 .back-button {
     display: block;
     margin: 20px 0 0 7%;
     background-color: #6F4E37;
     color: white;
     padding: 12px 20px;
     font-size: 16px;
     border-radius: 8px;
     text-decoration: none;
     cursor: pointer;
     transition: 0.3s;
 }
